<footer>
	<div class="container">
		<div class="footer-content">
			<%= image_tag("logo_bw.svg", size: "53x80", alt: "Logo") %>
			<a class="logo-domain" href="#">trocadesementes.pt</a>
			<p>Desenvolvido por <a href="http://tiansial.com/" target="_blank">Tiago Almeida</a></p>
		</div>
	</div>
</footer>