<% if current_page?(controller: '/seeds', action: 'index') || current_page?(root_path) %>
  <div class="search">  
    <div class="container">
      <i class="fa fa-search"></i> Pesquisar...
    </div>
  </div>
<% end %>