// Colors
$black: #353733;

$light-grey: #C6C8C9;
$grey: #AEAEAE;
$dark-grey: #464E52;
$bg-grey: #EFEEE8;
$border-grey: #EDEDED;
$hover-grey: #f1f1f1;

$online-green: #7ED321;
$green: #2CC36B;


$facebook: #3b5998;