main {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -150px; 
}

main:after {
  content: "";
  display: block;
}
footer, main:after {
  height: 150px; 
}
footer {
  background: #FFFFFF;
  border-top: 1px solid $border-grey;
  margin-top: 30px;

  .container {
  	@include outer-container();
  }

  .footer-content {
    text-align: center;
    padding: 20px 0;

    img {
      display: block;
      margin: 0 auto;
    }

    a:first-child {
      font-size: 18px;
      font-weight: 500;
      color: #C6C8C9;
      text-decoration: none;
    }
  }
}
